body, html{
    font-family: 'Nunito', sans-serif;
    background-color: rgb(248, 248, 248);
    height: auto;
}

nav{
    max-height: 10%;
}
p{
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
}
nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:  360px;
    text-decoration: none;
    color: #52b397;
    font-size: 2em;
    font-weight: bolder;
    max-height: 100%;
}
nav a:hover{
    text-decoration: none;
    color: #447466;
    transition-duration: 0.3s;
}
main{
    display: flex;
    width: 100%;
    padding: 0 20px 0 0;
    height: 90%;
}
.izquierda{
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    text-align: center;
    padding: 20px 60px 20px 20px;
}
.derecha{
    width: 20%;
    padding: 20px 0px 20px 20px;
}
.izquierda textarea{
    width: 100%;
    height: 80%;
    border-radius: 20px;
    border: none;
    padding: 1%;
    resize: none;
    overflow: auto;
}

.card{
    background-color: #fff;
    border-radius: 20px;
    min-height: 90%;
    overflow: auto;
    width: 100%;
    padding: 20px 10px;
    position: relative;
}
.text-center{
    text-align: center;
}

.shadow{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
.text-color-accent{
    color: #447466;
}
.text-white{
    color: #fff;
}

.bg-color{
    background-color: rgb(248, 248, 248);;
}

.bg-color-accent{
    background-color: #447466;
}
.buttons{
    width: 100%;
    display: flex;
    gap: 10%;
    justify-content: center;
}
button{
    border: solid 3px #447466;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    
}
button:hover{
    scale: 1.1;
    transition: all 0.3s;
}
.button-bottom{
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    margin: auto;
}
.hidden{
    display: none;
}
.ishidden{
    opacity: 0;
}
.img-container{
    width: 100%;
    text-align: center;
}
.title{
    font-size: 2em;
    font-weight: bolder;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
footer a{
    text-decoration: none;
    color: #447466;
    font-size: 1em;
    font-weight: bold;
}
#encriptado.ishidden{
    padding: 0;
    margin: 0;
}
#etiqueta.ishidden{
    padding: 0;
    margin: 0;
}
#etiqueta{
    font-weight: bold;
    margin: 5px;
    font-size: 1.5em;
    padding: 10px 20px 0px 20px;
}
#encriptado{
    padding: 0px 20px;
    margin: 5px;
    font-size: 1.5em;
    font-weight: 300;
    color: #447466;
}


@media only screen and (max-width: 1024px){
    nav a{
        font-size: 1em;
    }
    main{
        flex: 1;
        flex-direction: column;
        height: 90%;
        padding: 0;
    }
    .izquierda{
        width: 90%;
        padding: 20px;
    }
    .izquierda textarea{
        padding: 3%;
    }
    .derecha{
        width: 90%;
        justify-content: center;
        padding: 20px 20px 20px 20px;
        min-height: 550px;
    }
    .derecha .card.shadow{
        width: 100%;
        min-height: 500px;
    }
    .button-bottom{
        position: absolute;
        bottom: 3%;
        left: 0;
        right: 0;
        margin: auto;
    }
}

  